body{
    background-color: #5e46af 

  }
 
  .face-font{
      color:white;
      font-size:60px;
     
  }
  .container{
    width:200px;
    height:200px;
    perspective:1000px;
    margin:300px auto 0;
    
  }
  .cube{
    transform-style:preserve-3d;
    width:100px;
    height:100px;
    position:relative;
    animation:spin 5s infinite linear;
      
  }
  .face{
      margin-top: 100px;
    position:absolute;
    width:100px;
    height:100px;
    border: 3px solid black;
  }
  .top{
    transform: rotateX(90deg) translateZ(100px);
     
  }
  .bottom{
    transform: rotateX(-90deg) translateZ(100px);
  }
  .right{
    transform: rotateY(90deg) translateZ(100px);
     
  }
  .left{
    transform: rotateY(-90deg) translateZ(100px);
      
  }
  .front{
    transform: rotateX(0deg) translateZ(100px);
      
  }
  .back{
    transform: rotateX(-180deg) translateZ(100px);
  }
  @keyframes spin{
    from{
      transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
  }